<div fxLayout="row" fxLayoutAlign="center start" style="height: 100%; padding: 15px;">
  <mat-card fxFlex.lt-md="90" fxFlex.md="60" fxFlex.gt-md="50">
    <mat-card-header>
      <mat-card-title>Dynamic Form Builder</mat-card-title>
      <mat-card-subtitle>Examples</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content style="padding: 15px;">
      <app-dynamic-form [questions]="questions" (formResult)="submitForm($event)">
        <button mat-raised-button color="warn" (click)="onNoClick()">Cancel</button>
      </app-dynamic-form>
    </mat-card-content>
  </mat-card>
</div>